@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


header {
    
    font-family: Open Sans, sans-serif;
    height: 65px;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(197, 197, 197);
}

downer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    left: 44%; 
}

html, body {
    margin: 0;
    padding: 0;
}

hr {
    background-color: #636363;
    height:3px ;
    border-width: 0;
}

p {
    font-family: Helvatica, sans-serif;
    text-align: center; 
    color: #535353; 
    transform: scale(1)
}

.Logo {
    background: url(data/pictures/logo.png) no-repeat 50% 50%;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 50%;
    float: left;
    margin: 5px;
    position: absolute;
    top: -25px;
    left: 200px;
}


.fade {
    opacity: 1;
}

.fade:hover {
    opacity: 0.6;
}

.up {
    opacity: 1;
    position: relative;
    top: 0;
    transition: top, 0.2s ease;
}
.up:hover {
    top: -11px;

}

.left {

    opacity: 1;
    position: relative;
    left: 0;
    transition: left, 0.2s ease;
}
.left:hover {
    left: -150px;

}

.myYTprojecttext {

    position: relative;
    left: 240px;
    opacity: 0;
    padding: 25px 70px 25px;
    width: 180px;
    top: -182px;
    transition:opacity 0.4s;
    transition:color 0.4s;
    transition:background-color 0.4s;
    text-decoration: none;
    
    
}

.myYTprojecttext:hover {

    opacity:100;
    background-color: black;
    color: white;
    
}

.myGHprojecttext {

    position: relative;
    left: 240px;
    opacity: 0;
    padding: 3px 70px 3px;
    width: 180px;
    
    transition:opacity 0.4s;
    transition:color 0.4s;
    transition:background-color 0.4s;
    text-decoration: none;
    
    
}

.myGHprojecttext:hover {

    opacity:100;
    background-color: black;
    color: white;
    
}


.right {
    opacity: 0;
    
    position: relative;
    top: -100px;
    left: 0;
    transition: left, 0.2s ease;
}
.right:hover {
    left: 150px;
    opacity: 100;
}

.center {
    display: block;
    margin-left: 20%;
}

#Contacts {
    margin: 12px;
    float: right;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    background: linear-gradient(90deg, #cc4a8a, #b13d8c);
    padding: 10px 10px 10px;
    border-radius: 5px;
}
#MyProjects {
    margin: 12px;
    float: right;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 10px 10px 10px;
}




#AboutMe {
    position: relative;
    color: #000000;
    float: right;
    left: 9;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px 10px;
    transition:color 0.5s;
    transition:background-color 0.5s;
    margin: 12px;
}


#AboutMe:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}




.grow {
    transform: scale(1);
    transition: transform 0.2s ease;

}

.grow:hover {

    transform: scale(1.2);
    will-change: transform;
}


div {
    font-family: Helvatica, sans-serif;
    width: 800px;
    height: 500px;
    padding: 8px;
    margin: 100px;
    position: absolute;
    top: -20px;
    left: 26%;
    text-align: center;
}



h2, h4 {
    font-family: Helvatica, sans-serif;
    color: #535353;
}

div1 {

    position: absolute;
    right: 12px;
    top: 12px;
}


